@page
@model Zajęcia_4___DBFizzBuzz.Pages.Ostatnio_SzukaneModel
@{
}
<div class="col-12">
    <h1>Ostatnio Szukane:</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr><th>Liczba</th><th>Komunikat</th><th>Data</th></tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Numbers){
            <tr><td>@Html.DisplayFor(modelItem =>item.Number)</td><td>@Html.DisplayFor(modelItem =>item.Message)</td><td>@Html.DisplayFor(modelItem =>item.Date)</td></tr>
            }
        </tbody>
    </table>
</div>